<footer class="section">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <h4>{% t footer.resources %}</h4>
                      <ul>
                          <li><a href="https://github.com/firoorg/firo">Github</a></li>
                          <li><a href="https://sourceforge.net/projects/firoorg/">Sourceforge</a></li>
                          <li><a href="{{ site.baseurl }}/branding/">{% t footer.branding %}</a></li>
                          <li><a href="{{ site.baseurl }}/2018/07/15/firo-vulnerability-bounty-program.html">{% t footer.vuln %}</a></li>
                          <li><a href="https://explorer.firo.org/">{% t footer.explorer %}</a></li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>{% t footer.website %}</h4>
                      <ul>
                          <li><a href="{{ site.baseurl }}/feed.xml">{% t footer.feed %}</a></li>
                          <li><a href="{{ site.baseurl }}/privacy-policy/">{% t footer.privacy %}</a></li>
                      </ul>
                  </div>
                  <div class="col">
                      <div>
                          <h4>{% t footer.newsletter %}</h4>
                          <p>{% t footer.ifsub %}</p>
                          <a class="btn-text" href="https://t.me/fironews" target="_blank">{% t footer.newsbutton %}</a>
                      </div>
                      <div class="social">
                          <h4>{% t footer.comm %}</h4>
                          <div class="social-icons">
                            <a href="https://discord.gg/TGZPRbRT3Y" target="_blank"><img src="/img/site-icons/footer/discord.svg" title="Discord" alt="Discord logo"></a>
                            <a href="https://t.me/firoorg" target="_blank"><img src="/img/site-icons/footer/telegram.svg" title="Telegram" alt="Telegram logo"></a>
                            <a href="https://twitter.com/firoorg" target="_blank"><img src="/img/site-icons/footer/twitter.svg" title="Twitter" alt="Twitter logo"></a>
                            <a href="https://www.facebook.com/firoorg/" target="_blank"><img src="/img/site-icons/footer/facebook.svg" title="Facebook" alt="Facebook logo"></a>
                            <a href="https://www.youtube.com/c/firoorg" target="_blank"><img src="/img/site-icons/footer/youtube.svg" title="Youtube" alt="Youtube logo"></a>
                            <a href="https://www.reddit.com/r/firoproject/" target="_blank"><img src="/img/site-icons/footer/reddit.svg" title="Reddit" alt="Reddit logo"></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row bottom">
                  <div class="col">
                      <div href="#" class="dropdown language-change">
                            <input class="burger-checkdropdown" id="langdrop" type="checkbox" tabindex="0">
                            <label for="langdrop">
                              <img src="/img/site-icons/footer/language.svg" alt="Language icon">
                              {{ site.data.languages.langs.[site.lang] }}
                              <img id="arrow" src="/img/site-icons/footer/down.svg" alt="Clickable arrow">
                            </label>
                            <div class="dropdown-content text-center">
                              {% for lang in site.languages %}
                                {% unless site.lang == lang %}
                                  {% if lang == site.default_lang %}
                                    <a href="{{ site.baseurl_root }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% else %}
                                    <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% endif %}
                                {% endunless %}
                              {% endfor %}
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
