<footer class="section">
          <div class="container">
              <div class="row">
                  <div class="col">
                      <h4>{% t footer.resources %}</h4>
                      <ul>
                          <li><a href="https://github.com/firoorg/firo">Github</a></li>
                          <li><a href="https://sourceforge.net/projects/firoorg/">Sourceforge</a></li>
                          <li><a href="{{ site.baseurl }}/branding/">{% t footer.branding %}</a></li>
                          <li><a href="{{ site.baseurl }}/2018/07/15/firo-vulnerability-bounty-program.html">{% t footer.vuln %}</a></li>
                          <li><a href="https://explorer.firo.org/">{% t footer.explorer %}</a></li>
                      </ul>
                  </div>
                  <div class="col">
                      <h4>{% t footer.website %}</h4>
                      <ul>
                          <li><a href="{{ site.baseurl }}/privacy-policy/">{% t footer.privacy %}</a></li>
                          <li><a href="">{% t footer.tos %}</a></li>
                      </ul>
                  </div>
                  <div class="col">
                      <div>
                          <h4>{% t footer.newsletter %}</h4>
                          <p>{% t footer.ifsub %}</p>
                          <form class="newsletter-form">
                            <fieldset>
                              <input type="email" class="newsletter-email" placeholder="{% t footer.email %}*">
                              <button type="submit" class="newsletter-submit"><span>{% t footer.sub %}</span></button>
                            </fieldset>
                          </form>
                      </div>
                      <div class="social">
                          <h4>{% t footer.comm %}</h4>
                          <ul>
                              <li><a href="https://twitter.com/firoorg" target="_blank"><i class="icon-twitter"></i></a></li>
                              <li><a href="https://www.facebook.com/firoorg/" target="_blank"><i class="icon-facebook"></i></a></li>
                              <li><a href="https://www.youtube.com/c/firoorg" target="_blank"><i class="icon-youtube"></i></a></li>
                              <li><a href="https://www.reddit.com/r/firoproject/" target="_blank"><i class="icon-reddit"></i></a></li>
                              <li><a href="" target="_blank"><i class="icon-youku"></i></a></li>
                              <li><a href="https://t.me/firoproject" target="_blank"><i class="icon-telegram"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="row bottom">
                  <div class="col">
                      <div href="#" class="dropdown language-change">
                            <input class="burger-checkdropdown" id="langdrop" type="checkbox" tabindex="0">
                            <label for="langdrop">{{ site.data.languages.langs.[site.lang] }}
                           <div class="arrow-down"></div></label>
                            <div class="dropdown-content text-center">
                              {% for lang in site.languages %}
                                {% unless site.lang == lang %}
                                  {% if lang == site.default_lang %}
                                    <a href="{{ site.baseurl_root }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% else %}
                                    <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{{ site.data.languages.langs.[lang] }}</a>
                                  {% endif %}
                                {% endunless %}
                              {% endfor %}
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
