<header>
      <div class="container">
               <nav class="row" role='navigation'>
                   <a class="logo col" href="/index.html" aria-label="Firo Cryptocurrency"><img src="/img/firo-logo.svg" alt="Firo Cryptocurrency logo"></a>
                   <ul class="main-menu col">
                       <li class="nav-item"><a href="#">Get Firo</a>
                           <ul class="dropdown" aria-label="submenu">
                               <li><a class="sub-nav-item" href="/get-firo/download/">Download wallets</a></li>
                               <li><a class="sub-nav-item" href="/get-firo/buy-firo/">Buy Firo</a></li>
                               <li><a class="sub-nav-item" href="/guide/masternode-setup.html">Earn Firo</a></li>
                               <li><a class="sub-nav-item" href="/guide/how-to-mine.html">Mine</a></li>
                           </ul>
                       </li>
                       <li class="nav-item"><a href="#">About</a>
                           <ul class="dropdown" aria-label="submenu">
                               <li><a class="sub-nav-item" href="/about/tech/">Tech</a></li>
                               <li><a class="sub-nav-item" href="/about/team/">Team</a></li>
                               <li><a class="sub-nav-item" href="/about/roadmap/">Roadmap</a></li>
                               <li><a class="sub-nav-item" href="/about/faq/">FAQ</a></li>
                           </ul>
                       </li>
                       <li class="nav-item link"><a href="/community/">Community</a>
                       </li>
                       <li class="nav-item link"><a href="/blog/">Blog</a></li>
                       <li class="nav-item"><a href="">Crowdfunding</a>
                           <ul class="dropdown" aria-label="submenu">
                               <li><a class="sub-nav-item" href="https://zcs.zcoin.io/" target="_blank">Firo Crowdfunding System</a></li>
                               <li><a class="sub-nav-item" href="https://opencollective.com/firo" target="_blank">Open Collective</a></li>
                           </ul>
                       </li>
                   </ul>
               </nav>
               <nav role='navigation' class="mobile-menu row">
                  <a class="logo-mobile col" href="/index.html" aria-label="Firo Cryptocurrency"><img src="/img/firo-logo.svg" alt="Firo Cryptocurrency logo"></a>
                  <input class="burger-check" id="mobile-burger" type="checkbox">
                  <label for="mobile-burger" class="hamburger hamburger--spring">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                  </label>
                  <ul class="slide-nav">
                       <li class="mob-item">
                          <input class="burger-checkdropdown" id="list1" type="checkbox" tabindex="0">
                          <label for="list1">Get Firo</label>
                          <ul class="dropdown-content">
                              <li><a href="/get-firo/download/">Download wallets</a></li>
                              <li><a href="/get-firo/buy-firo/">Buy Firo</a></li>
                              <li><a href="#">Earn Firo</a></li>
                              <li><a href="/guide/how-to-mine.html">Mine Firo</a></li>
                          </ul>
                       </li>
                       <li class="mob-item">
                          <input class="burger-checkdropdown" id="list2" type="checkbox" tabindex="0">
                          <label for="list2">About</label>
                          <ul class="dropdown-content">
                              <li><a href="/about/tech/">Tech</a></li>
                              <li><a href="/about/team/">Team</a></li>
                              <li><a href="/about/roadmap/">Roadmap</a></li>
                              <li><a href="/about/faq/">FAQ</a></li>
                          </ul>
                       </li>
                      <li class="mob-item"><a href="/community/">Community</a></li>
                      <li class="mob-item"><a href="/blog/">Blog</a></li>
                       <li class="mob-item">
                          <input class="burger-checkdropdown" id="list3" type="checkbox" tabindex="0">
                          <label for="list3">Crowdfunding</label>
                          <ul class="dropdown-content">
                              <li><a href="https://zcs.zcoin.io/">Firo Crowdfunding System</a></li>
                              <li><a href="https://opencollective.com/firo">Open Collective</a></li>
                          </ul>
                       </li>
                  </ul>
               </nav>
       </div>
   </header>
