<header>
      <div class="container">
               <nav class="row" role='navigation'>
                   <a class="logo col" href="{{ site.baseurl }}/index.html" aria-label="Firo Cryptocurrency"><img src="/img/firo-logo.svg" alt="Firo Cryptocurrency logo"></a>
                   <ul class="main-menu col">
                       <li class="nav-item"><a href="#">{% t navigation.getfiro %}</a>
                           <ul class="dropdown" aria-label="submenu">
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/get-firo/download/">{% t navigation.download %}</a></li>
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/get-firo/buy-firo/">{% t navigation.buyfiro %}</a></li>
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/guide/masternode-setup.html">{% t navigation.earnfiro %}</a></li>
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/guide/how-to-mine-firo.html">{% t navigation.mine %}</a></li>
                           </ul>
                       </li>
                       <li class="nav-item"><a href="#">{% t navigation.about %}</a>
                           <ul class="dropdown" aria-label="submenu">
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/about/research/">{% t navigation.tech %}</a></li>
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/about/team/">{% t navigation.team %}</a></li>
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/about/roadmap/">{% t navigation.roadmap %}</a></li>
                               <li><a class="sub-nav-item" href="{{ site.baseurl }}/about/faq/">{% t navigation.faq %}</a></li>
                           </ul>
                       </li>
                       <li class="nav-item link"><a href="{{ site.baseurl }}/community/">{% t navigation.community %}</a>
                       </li>
                       <li class="nav-item link"><a href="{{ site.baseurl }}/guide/">{% t navigation.guides %}</a>
                       </li>
                       <li class="nav-item link"><a href="{{ site.baseurl }}/blog/">{% t navigation.blog %}</a></li>
                       <li class="nav-item"><a href="#">{% t navigation.crowdfunding %}</a>
                           <ul class="dropdown" aria-label="submenu">
                               <li><a class="sub-nav-item" href="https://ccs.firo.org/" target="_blank">{% t navigation.fcs %}</a></li>
                               <li><a class="sub-nav-item" href="https://opencollective.com/firo" target="_blank">{% t navigation.opencollective %}</a></li>
                           </ul>
                       </li>
                   </ul>
               </nav>
               <nav role='navigation' class="mobile-menu row">
                  <a class="logo-mobile col" href="{{ site.baseurl }}/index.html" aria-label="Firo Cryptocurrency"><img src="/img/firo-logo.svg" alt="Firo Cryptocurrency logo"></a>
                  <input class="burger-check" id="mobile-burger" type="checkbox">
                  <label for="mobile-burger" class="hamburger hamburger--spring">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                  </label>
                  <ul class="slide-nav">
                       <li class="mob-item">
                          <input class="burger-checkdropdown" id="list1" type="checkbox" tabindex="0">
                          <label for="list1">{% t navigation.getfiro %}</label>
                          <ul class="dropdown-content">
                              <li><a href="{{ site.baseurl }}/get-firo/download/">{% t navigation.download %}</a></li>
                              <li><a href="{{ site.baseurl }}/get-firo/buy-firo/">{% t navigation.buyfiro %}</a></li>
                              <li><a href="{{ site.baseurl }}/guide/masternode-setup.html">{% t navigation.earnfiro %}</a></li>
                              <li><a href="{{ site.baseurl }}/guide/how-to-mine-firo.html">{% t navigation.mine %}</a></li>
                          </ul>
                       </li>
                       <li class="mob-item">
                          <input class="burger-checkdropdown" id="list2" type="checkbox" tabindex="0">
                          <label for="list2">{% t navigation.about %}</label>
                          <ul class="dropdown-content">
                              <li><a href="{{ site.baseurl }}/about/research/">{% t navigation.tech %}</a></li>
                              <li><a href="{{ site.baseurl }}/about/team/">{% t navigation.team %}</a></li>
                              <li><a href="{{ site.baseurl }}/about/roadmap/">{% t navigation.roadmap %}</a></li>
                              <li><a href="{{ site.baseurl }}/about/faq/">{% t navigation.faq %}</a></li>
                          </ul>
                       </li>
                      <li class="mob-item"><a href="{{ site.baseurl }}/community/">{% t navigation.community %}</a></li>
                      <li class="mob-item"><a href="{{ site.baseurl }}/guide/">{% t navigation.guides %}</a></li>
                      <li class="mob-item"><a href="{{ site.baseurl }}/blog/">{% t navigation.blog %}</a></li>
                       <li class="mob-item">
                          <input class="burger-checkdropdown" id="list3" type="checkbox" tabindex="0">
                          <label for="list3">{% t navigation.crowdfunding %}</label>
                          <ul class="dropdown-content">
                              <li><a href="https://ccs.firo.org/">{% t navigation.fcs %}</a></li>
                              <li><a href="https://opencollective.com/firo">{% t navigation.opencollective %}</a></li>
                          </ul>
                       </li>
                  </ul>
               </nav>
       </div>
   </header>
