<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title contains "titles." %}{% t page.title %} | {% t global.title %}
      {% else %}{{ page.title }} | {% t global.title %}{% endif %}</title>
    <meta name="author" content="">
    <meta name="description" content="Firo is a digital currency with a focus on setting privacy standards.">
    <meta property="og:image" content="{{page.img}}">
    <meta property="og:description" content="Firo is a digital currency with a focus on setting privacy standards.">
    <meta property="og:title" content="{% if page.title contains "titles." %}{% t page.title %} | {% t global.title %}
      {% else %}{{ page.title }} | {% t global.title %}{% endif %}">
    <meta name="twitter:title" content="{% if page.title contains "titles." %}{% t page.title %} | {% t global.title %}
      {% else %}{{ page.title }} | {% t global.title %}{% endif %}">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/meta/favicon-16x16.png">
    <link rel="manifest" href="img/meta/site.webmanifest">
</head>
