---
layout: base
title: page.tag
---
    
    <section class="page-intro section">
          <div class="row">
              <div class="col">
                  <h1>Blog</h1>
              </div>
          </div>
    </section>
    
    <section class="faq-nav">
          <div class="container">
              <ul class="row">
                  <li><a href="{{ site.baseurl }}/blog/">All</a></li>
                  <li><a href="{{ site.baseurl }}/tag/news/">News</a></li>
                  <li><a href="{{ site.baseurl }}/tag/dev/">Dev</a></li>
                  <li><a href="{{ site.baseurl }}/tag/community/">Community</a></li>
              </ul>
          </div>
      </section>
      
      <section class="blog-section">
         <div class="container">
             <h2 class="tag-blog">#{{page.tag}}</h2>
             {% for post in site.posts %}
             {% if post.tags contains page.tag %}
              <div class="row">
                  <div class="col post-section">
                        <div class="post-meta">
                            <p class="post-date">{{post.date | date: '%B %d, %Y'}}</p>
                            <p class="post-author">by {{post.author}}</p>
                        </div>
                        
                        <a href="{{ post.url }}" class="post-link">
                           {%if post.img%}
                            <img src="{{post.img}}" alt="{{post.alt}}">
                            {%endif%}
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.summary }}</p>
                        </a>
                        <p class="post-tag">
                            {% for tag in post.tags %}
                            <a href="{{ site.baseurl }}/tag/{{tag}}">#{{tag}}</a>
                            {% endfor %}
                        </p>
                  </div>
              </div>
              {% endif %}
              {% endfor %}
          </div>
      </section>