name: Build with Jekyll

on: push

jobs:
  ci:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: false
      - name: install bundler
        run: gem install bundler
      - name: bundle install
        run: bundle install
      - name: build website
        run: bundle exec jekyll build --future
